<section class="section">
  <div class="section-header">
    <h1>Interest View: <%= data.name %></h1>
  </div>
  <div class="section-body">
    <div class="card">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
            >Name</label
          >
          <div class="col-sm-12 col-md-7">
            <input
              type="text"
              name="name"
              value="<%= data.name %>"
              class="form-control"
              readonly
            />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
            >Image</label
          >
          <div class="col-sm-12 col-md-7">
            <img
              src="<%= data.image %>"
              alt="Interest Image"
              width="100"
              height="100"
              class="rounded-circle"
            />
          </div>
        </div>

        <div class="form-group row">
          <label
            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
          ></label>
          <div class="col-sm-12 col-md-7">
            <a href="/interests" class="btn btn-primary">Back to Interests</a>
          </div>
        </div>

        <!-- Sub-Interests List -->
        <h3>Sub-Interests:</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Image</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% data.subInterests.forEach(sub => { %>
            <tr>
              <td><%= sub.name %></td>
              <td>
                <img
                  src="<%= sub.image %>"
                  alt="Sub-Interest Image"
                  width="50"
                  height="50"
                />
              </td>
              <td>
                <a
                  href="/editSubInterest/<%= sub._id %>"
                  class="btn btn-warning"
                  >Edit</a
                >
                <button
                  onclick="deleteSubInterest('<%= sub._id %>');"
                  class="btn btn-danger"
                >
                  Delete
                </button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<script>
  function deleteSubInterest(id) {
    swal({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {
        $.ajax({
          url: "/deleteSubInterest",
          type: "POST",
          data: { id: id },
          success: function (response) {
            if (response.success) {
              swal(
                "Deleted!",
                "Your sub-interest has been deleted.",
                "success",
              ).then((value) => {
                location.reload();
              });
            } else {
              swal(
                "Error!",
                "There was a problem deleting your sub-interest.",
                "error",
              );
            }
          },
        });
      }
    });
  }
</script>
